<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <tab id="extensa" translate="label" sortOrder="10">
            <label>Extensa</label>
        </tab>

        <section id="extensa_careers" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>extensa-top</class>
            <label>Careers</label>
            <tab>extensa</tab>
            <resource>Extensa_Careers::config</resource>
            <group id="settings" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="email" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Email</label>
                    <validate>validate-email</validate>
                </field>
                <field id="email_template_application_cv" translate="label" type="select" sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Email template for new CV requests</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
